
@*legacy modal
<div id="dvOverlay" style="display: none;position: fixed;top: 0px; bottom: 0px; left: 0px; right: 0px; background: #000000;opacity: .5;z-index: 5">

</div>
<div id="dvModal" style="display: none;position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; background: #fff; width: 600px; height: 400px;z-index: 6">
    <input type="button" value="Close" onclick="hideModal()" />
</div>*@

@*dynamic modal*@
<div id="dvModal" style="display: none">
    <form action="@Url.Action("Index", "DashBoard")" method="post">
        <input type="hidden" id="HdnEquipmentId" name="hdnEquipmentId"/>
        <div class="mb-3">
            <label for="EquipmentName" class="form-label">Equipment Name</label>
            <input type="text" class="form-control" id="EquipmentName" name="txtEquipmentName" placeholder="Equipment Name">
        </div>
        <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="Quantity" name="quantity" placeholder="Quantity">
        </div>
        <div class="mb-3">
            <label for="EntryDate" class="form-label">Entry Date</label>
            <input type="date" class="form-control" id="EntryDate" name="entryDate" placeholder="Entry Date">
        </div>
        <div class="mb-3">
            <label for="ReceiveDate" class="form-label">Receive Date</label>
            <input type="date" class="form-control" id="ReceiveDate" name="receiveDate" placeholder="Receive Date">
        </div>
        <input id="submit-btn" type="submit" class="btn btn-primary" value="Save" name="btnSubmit" />
    </form>
</div>