
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .forgot-pass-Wrapper {
            height: 500px;
            width: 400px;
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="forgot-pass-Wrapper">
        <div style="position: absolute;left: 0px;right: 0px; top: 0px; bottom: 0px; margin: auto; width: 90%; height: 400px">
            <form action="@Url.Action("ForgotPassword", "Auth")" method="post">
                <div class="card">
                    <div class="card-header" style="text-align:center">
                        Change Password
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="txtUserName" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput2" name="txtPassword" placeholder="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput3" class="form-label">Retype Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput3" name="txtRetypePassword" placeholder="retype password">
                        </div>
                        <input type="submit" class="btn btn-primary mb-3" style="width: 100%" value="Change" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        let message = "@ViewBag.Message";
        if (message != "") {
            alert(message);
        }
    </script>
</body>
</html>
