
@{
    Layout = null;
    string message = ViewBag.Message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .register-wrapper {
            height: 500px;
            width: 400px;
            position: fixed;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="register-wrapper">
        <div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: auto; width: 90%; height: fit-content">
            <form action="@Url.Action("Register", "Auth")" method="post">
                <div class="card">
                    <div class="card-header" style="text-align:center">
                        Create a new account
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" name="txtUserName" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput2" name="txtPassword" placeholder="password">
                        </div>
                        <input type="submit" class="btn btn-primary mb-3" style="width: 100%" value="Sign up" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        let message = '@message';
        if (message != "") {
            alert(message);
        }
    </script>
</body>
</html>
